#white{
    font-family: "Libre Baskerville", serif;
    color: white;
    text-align: center;
}
html{
    background-color: black;
}
img{
   border: 5px solid white;
   width: 100%;
   }
   #id{
margin: center;
   }


div{
    width: 50%;
   margin-left: 25%;
   
}
h1{
    text-transform: uppercase;
}